:root {
  --verdeoscuro: #148F84;
  --azulprincipal: #1D323C;
  --azuloscuro: #376BFB;
  --verdeclaro: #A2E5AF;
  --blanco: #FCFEFF;
  --negro: #080808;
  --gris: #EAEAEA;
}

*{
	padding: 0px;
	margin: 0px;
	font-family: 'Poppins', sans-serif;
}

html, body{
	width: 100%;
	height: 100vh;
}

/*ESTILOS GENERALES*/
.flex{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.start{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}

.end{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
}

.between{
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.around{
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.column{
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	flex-direction: column;
}

.ccenter{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-direction: column;
}

.nopadding{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

p, h1, h2, h3, h4{
	cursor: default;
}

.bg{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 999;
	background: var(--azulprincipal);
	display: none;
}

#backImg{
	background-image: url(../img/qro2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.ver{
	display: block !important;
}

.noVer{
	display: none !important;
}

/*BARRA DEL MENÚ*/
.barra{
	height: 60px;
	background: var(--azulprincipal);
	padding: 10px;
	box-sizing: border-box;
	box-shadow: -1px 4px 12px -4px rgba(0,0,0,0.46);
	z-index: 9999;
}
	.barra .logo{	
		width: 10%;
		float: left;
		position: relative;
		padding-left: 10px;
		box-sizing: border-box;
	}
		.logo img{
			height: 40px;
		}

	.barra .ham{	
		width: auto;
		height: 100%;
		float: right;
		position: relative;
		right: 10px;
	}
		.ham img{
			height: 30px;
		}

	.barra .menu{
		width: 90%;
		height: 100%;
		float: left;
		position: relative;
		background: url(../img/bgfooter.png);
		background-size: cover;
	}
		.menu ul{
			width: 100%;
			height: 100%;
			float: left;
			position: relative;
			margin-bottom: 0px !important;
			padding-left: 10px;
			box-sizing: border-box;
		}
			.menu ul li{
				height: 100%;
				float: left;
				position: relative;
				list-style: none;
			}
				.menu ul li a{
					color: var(--blanco) !important;
					text-decoration: none;
					font-size: 1.3rem;
					font-weight: 400;
				}
				.menu ul li .actual{
					box-shadow: inset 0 -2px 0 var(--verdeclaro);
				}

	.barra .menu-m{
		width: 100%;
		height: auto;
		float: left;
		position: relative;
		background-size: cover;
		margin-top: 10px;
		background: var(--azulprincipal);
		display: none;
	}
		.menu-m ul{
			width: 100%;
			height: auto;
			float: left;
			position: relative;
			margin-bottom: 0px !important;
		}
			.menu-m ul li{
				height: 40px;
				float: left;
				position: relative;
				list-style: none;
				border-bottom: 1px solid rgba(0,0,0,.2);
			}
				.bt{
					border-top: 1px solid rgba(0,0,0,.2);
				}
				.bb{
					border-bottom: none !important;
				}
				.menu-m ul li:hover{
					background: var(--verdeclaro);
				}
				.menu-m ul li a{
					color: var(--blanco) !important;
					text-decoration: none;
					padding-bottom: 5px;
					box-sizing: border-box;
				}

/*CONTENEDORES GRALES*/
.wrapper {
    width: 100%;
    height: calc(100% - 60px);
    float: left;
    position: relative;
}
	.content{
	    width: 100%;
	    height: 100%;
	    float: left;
	    position: relative;
	    overflow-y: auto;
	}
	/*TITULOS PRINCIPALES*/
	.ocho{
		height: 80%;
	}
	.dos{
		height: 20%;
	}
		.tiempo{
			float: left;
			position: relative;
			text-align: center;
		}
			.tiempo h2{
				color: white;
				font-weight: 400;
				font-size: 1.8rem;
				text-shadow: 0px 3px 6px rgba(0,0,0,.5);
				text-align: center;
				color: #FCFEFF;
				margin-bottom: 5px;
				margin-top: 0px !important;
			}
			.tiempo h1{
				color: white;
				font-weight: 400;
				font-size: 4rem;
				text-shadow: 0px 3px 6px rgba(0,0,0,.5);
				margin-bottom: 5px;
				margin-top: 0px !important;
				height: auto;
			}
			.tiempo .grados{
				color: white;
				font-weight: 400;
				font-size: 4.5rem;
				text-shadow: 0px 3px 6px rgba(0,0,0,.5);
			}
			.fade-in-top{-webkit-animation:fade-in-top .6s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in-top .6s cubic-bezier(.39,.575,.565,1.000) both}
			/* ----------------------------------------------
			 * Generated by Animista on 2019-10-4 13:12:32
			 * Licensed under FreeBSD License.
			 * See http://animista.net/license for more info. 
			 * w: http://animista.net, t: @cssanimista
			 * ---------------------------------------------- */

			@-webkit-keyframes fade-in-top{0%{-webkit-transform:translateY(-50px);transform:translateY(-50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes fade-in-top{0%{-webkit-transform:translateY(-50px);transform:translateY(-50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

			.resumen h3{
				color: white;
				font-weight: 400;
				font-size: 1.5rem;
				text-shadow: 0px 3px 6px rgba(0,0,0,.5);
				margin-bottom: 0px !important;
				margin-top: 0px !important;
			}

			.resumen h2{
				color: white;
				font-weight: 500;
				font-size: 2rem;
				text-shadow: 0px 3px 6px rgba(0,0,0,.5);
				margin-top: 0px !important;
				margin-bottom: 2px !important;
			}
			.resumen img{
				height: 25px;
				cursor: pointer;
			}

	/*TITULOS*/
	.content>h1{
		text-align: center;
		color: var(--verdeoscuro);
		margin-bottom: 5px !important;
		font-weight: 500;
		padding-left: 5px;
		padding-right: 5px;
		box-sizing: border-box;
	}
	.content p{
		text-align: center;
		color: var(--negro);
		margin-bottom: 0px !important;
		font-size: 1.4rem;
		font-weight: 400;
		padding-left: 5px;
		padding-right: 5px;
		box-sizing: border-box;
	}

	/*MAPA RESUMEN*/
	.mapa{
		height: 500px;
		float: left;
		position: relative;
		background: #F5ECCE;
		margin-top: 10px;
	}
		.mapa div{
			background: red;
			height: 100%;
		}

	.mapa-estaciones{
		float: left;
		position: relative;
		height: auto;
		padding: 20px;
		box-sizing: border-box;
		margin-top: 10px;
	}
		.mapa-estaciones select{
			height: 30px;
			float: left;
			position: relative;
			outline: none !important;
			border: 1px solid rgba(0,0,0,.2);
			cursor: pointer;
			border-radius: 10px;
			background: none !important;
		}
	.rev-estacion{
		height: 200px;
		float: left;
		position: relative;	
		background: red;	
		margin: 15px 0;
		background: var(--gris);
		border-radius: 5px;
	}
		.rev-estacion h1{
			text-align: center;
			font-size: 1.8rem;
			color: rgba(0,0,0,.6);
			font-weight: 400;
		}
		.rev-estacion p{
			text-align: center;
			font-size: 1.2rem;
			color: rgba(0,0,0,.5);
		}


	/*FOOTER*/
	footer{
		height: auto;
		background: var(--azulprincipal);
		float: left;
		position: relative;
		padding-bottom: 10px;
		box-sizing: border-box;
	}
		footer h2{
			color: var(--verdeoscuro);
			font-size: 1.4rem;
		}
		footer div{
			height: auto;
			float: left;
			position: relative;
		}
			footer ul{
				float: left;
				position: relative;
				width: 100%;
				margin-bottom: 0px !important;
			}
				footer ul li{
					width: 100%;
					list-style: none;
					padding: 2px;
					box-sizing: border-box;
				}
					footer ul li a, footer ul li{
						width: 100% !important;
						color: var(--blanco);
						font-weight: 300;
						font-size: 1.2rem;
						text-decoration: none;
						text-align: justify;
					}
					footer ul li a:hover{
						color: var(--blanco);
						text-decoration: none;
					}
						footer ul li img{
							height: 22px;
							margin-right: 10px;
						}
						footer .colab img{
							height: 50px;
						}




@media (max-width: 768px){

	/*CONTENEDOR GRAL*/
	/*titulos*/
		.tiempo h2{
			font-size: 1.6rem;
		}
		.tiempo h1{
			font-size: 3rem;
		}

	/*FOOTER*/
	footer h2{
		color: var(--verdeoscuro);
		font-size: 1.2rem;
		text-align: center;
	}
	footer ul li a, footer ul li{
		text-align: center;
	}
	footer .colab img{
		height: 40px;
	}
}